{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Личный кабинет</title>
<link rel="stylesheet" href="{% static 'web_interface/css/index.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<script type = "text/javascript" 
         src = "https://www.tutorialspoint.com/jquery/jquery-3.6.0.js">
</script>

</head>
<body>
<div class="container">
  <div class="header text-center">
    <h1 class="title">Личный кабинет</h1>
    <p class="subtitle">Здесь вы можете оставить жалобу на свое здоровье или просмотреть историю своих жалоб</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button id="createComplaintButton" class="btn btn-primary btn-block">Создать жалобу</button>
    </div>
    <div class="col-md-6">
      <button id="selectDateButton" class="btn btn-primary btn-block">Жалобы</button>
    </div>
  </div>
  <div class="complaintForm">
    <form>
      <div class="form-group">
        <label for="subject">Тема жалобы:</label>
        <input type="text" id="subject" name="subject" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Описание жалобы:</label>
        <textarea id="description" name="description" class="form-control" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <select name="select">
          <!--Supplement an id here instead of using 'name'-->
          <option value="value1">ЖКТ</option>
          <option value="value2" selected>Сердце</option>
          <option value="value3">Правая рука</option>
        </select>
      </div>
      <div class="form-group">
        <label for="complaintDate">Дата жалобы:</label>
        <input type="text" id="complaintDate" name="complaintDate" class="form-control" required>
      </div>
      <button type="submit" id="submitComplaintButton" class="btn btn-primary btn-block">Отправить жалобу</button>
    </form>
  </div>
  <div class="complaints">
    <!-- <h2>Жалобы</h2> -->
    {% for complaint in complaints %}
      <h3>Жалоба: {{ complaint.date }}</h3>
      <p>Орган: {{ complaint.organ }}</p>
      <p>Тема жалобы: {{ complaint.title }}</p>
      <p>Описание жалобы: {{ complaint.description }}</p>
    {% endfor %}
  </div>
  <div class="dates" id="dates" style="display: none;">
    <h2>Даты с жалобами</h2>
    <!-- Сюда будет вставлен список дат -->
  </div>
</div>
<script>
  $('#selectDateButton').click(function(){
    let hasClass = $('.complaints').hasClass('active');
    if(hasClass)
      $('.complaints').removeClass('active');
    else
      $('.complaints').addClass('active');
});


$('#complaintForm').click(function(){
    let hasClass = $('.complaints').hasClass('active');
    if(hasClass)
      $('.complaints').removeClass('active');
    else
      $('.complaints').addClass('active');
});





flatpickr("#complaintDate", {
  dateFormat: "d.m.Y",
  locale: "ru",
});

</script>
</body>
</html>
