body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .complaints{
    display: none;
  }
  .complaints.active{
    padding: 20px;
    display: block;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .dates p {
    cursor: pointer;
    transition: color 0.3s;
  }

  .dates p:hover {
    color: #007bff;
  }
  .complaintForm{
    display: none;
  }

  .complaintForm.active{
    display: block;
  }